* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
font-weight: bolder;
font-size: 1.6em;
color: rgba(5, 4, 4, 0.7);
animation-delay:   0s;
animation-duration: 1s;
transition-duration: infinite;
   
}

body {
background-color: rgba(39, 68, 105, 0.76);
}

main {
    text-align: center;
    position: relative;
    top: 85px;
}


form {
    box-shadow: 4px 4px 7px 0px rgb(77 84 139);
    border-radius: 07px;
    background-color: white;
    padding: 30px;
    display: inline-block;

}

input {
    border: 1px solid  rgba(29, 27, 27, 0.425);
    padding: 06px;
    margin-top: 10px;
    background-color: rgba(240, 248, 255, 0.705);
    color: rgb(6, 6, 7);
    animation-delay:   0s;
    animation-duration: 1s;
   transition-duration: infinite;
}

#login{
    background-color: blue;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    font-weight: bold;

}

a {
    text-decoration: none;
   line-height: 30px;
   color: rgba(0, 0, 0, 0.671);
   animation-delay:   0.9s;
animation-duration: 1s;
transition-duration: infinite;
}

a:hover{
    text-decoration: underline;
    color: rgb(55, 55, 100);
}

